/*********************  Default-CSS  *********************/
:root {
	scroll-behavior: unset;
	--primary-color: rgb(44, 169, 96);
	--primary-color2: rgb(16, 232, 106);
	--secondary-color: #131314;
	--tertiary-color: rgb(36, 36, 36);
	--quaternary-color: white;
	--defaulttext-color: #8392A7;
}

html {
	height: 100%;
	-webkit-text-size-adjust: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
	color: #8392A7;
	background-color: #F9FAFC;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 400;

}

a,
span,
a:hover,
a:active,
button {
	text-decoration: none;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
	text-decoration: none;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

button:focus {
	box-shadow: none !important;
}

p {
	margin: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	margin: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.row {
	margin: 0 -15px;
}

.container {
	padding: 0 15px;
}

.col,
[class*=col-] {
	padding: 0 15px;
}

.common_btn {
	font-size: 14px;
	text-align: center;
	color: #fff;
	display: inline-block;
	border-radius: 30px;
	background: #3b7cff;
	box-shadow: 0px 5px 20px rgba(59, 124, 255, 0.2);
	padding: 10px 22px;
	border: 1px solid #3b7cff;
	;
	line-height: 1;
}

.common_btn:hover {
	background-color: #fff;
	color: #3b7cff;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #8392A7;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* ******************** Logo ************************/


.logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	max-width: max-content;
}

.logo p {
	font-weight: 700;
	font-size: 1.3rem;
	color: rgb(44, 169, 96);
}

.logo_img {
	width: 2.1rem;
	height: 2.1rem;
}

/******************** Nav Link ***********************/
.nav_link {
	color: var(--quaternary-color);
	font-size: medium;
	font-weight: 500;
}

.nav_link_active {
	color: var(--primary-color);
	font-size: medium;
	font-weight: 500;
}

.search_input {
	background: transparent;
	border: none;
	outline: none;
	color: white
}

.menu_drawer_button {
	display: none;
}


/************* Titles ******************/
.library_head_title {
	font-size: 1rem;
	font-weight: 500;
	color: var(--defaulttext-color);
}

.create_playlist {
	font-size: 1rem;
	font-weight: 500;
	color: var(--quaternary-color);
}

.create_playlist_sub {
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--quaternary-color);
	margin: 0.2rem 0;
}

.create_playlist_button {
	margin-top: 0.9rem;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	font-weight: 600;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
}

.sign_up_btn {
	background-color: transparent;
	color: var(--defaulttext-color);
	border: none;
	font-size: 1.1rem;
	font-weight: 700;
	cursor: pointer;
	transform: transition 0.3s ease;
}

.log_in_btn {
	font-size: 1rem;
	font-weight: 700;
	padding: 0.6rem 1.5rem;
	border-radius: 1.5rem;
	border: none;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.sign_up_btn:hover,
.log_in_btn:hover {
	transform: scale(1.05)
}


/********************************** Songs category Section **********************************/
.section_title {
	color: var(--quaternary-color);
	font-size: 1.6rem;
	font-weight: 500;
}

.section_showall {
	color: var(--defaulttext-color);
	font-size: 0.9rem;
	cursor: pointer;

}

.swiper_main {
	margin-top: 1rem;
}

/********************************* All Album CSS ********************************/
.album_image {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.album_title {
	font-size: 1rem;
	font-weight: 500;
	color: var(--quaternary-color);
	margin-top: 0.3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.album_details_image {
	width: 100%;
	height: 200px;
	border-radius: 0.3rem;
	object-fit: cover;
}


.album_artist {
	font-size: 0.9rem;
	color: var(--quaternary-color)
}

.play_button {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: max-content;
	background-color: var(--primary-color2);
	padding: 0.8rem;
	border: none;
	border-radius: 50%;
	margin-top: 11rem;
	margin-right: 1rem;
	cursor: pointer;
}


.pause_button {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: max-content;
	background-color: var(--primary-color2);
	padding: 0.8rem;
	border: none;
	border-radius: 50%;
	margin-top: 11rem;
	margin-right: 1rem;
	cursor: pointer;
}

.page_head_text {
	max-width: 900px;
	font-size: 1rem;
	color: var(--quaternary-color);
	line-height: 1.5rem;
}


/*************************** All Artists CSS *******************/
.artists_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.seperator {
	background-color: var(--quaternary-color);
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
}

/************************** Track Card **************************/

.track_card_img {
	width: 100px;
	height: 85px;
	object-fit: cover;
	border-radius: 0.3rem;
}

.player_track_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.track_title {
	font-size: 1.1rem;
	font-weight: 600;
}

.track_artist {
	font-size: 0.9rem;
	color: rgb(202, 198, 198);
	font-weight: 500;
}

.close_button {
	max-width: max-content;
	background-color: black;
	display: 'flex';
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	padding: 0.2rem 0.5rem;
	border-radius: 50%;
	color: var(--quaternary-color);
	font-weight: 600;
	font-size: 1rem;
	cursor: pointer;
	align-self: flex-end;
}

.player_controls {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: max-content;
	background-color: var(--primary-color2);
	padding: 0.8rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.seekbar {
	min-width: 300px;
	max-width: 400px;
	background-color: var(--defaulttext-color);
}

/*********************  Default-CSS  End *********************/