/*********************  Default-CSS  *********************/
:root {
	scroll-behavior: unset;
	--primary-color: rgb(44, 169, 96);
	--secondary-color: #373A40;
	--tertiary-color: white
}

html {
	-webkit-text-size-adjust: none
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	color: #8392A7;
	background-color: #F9FAFC;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 400;
}

a,
span,
a:hover,
a:active,
button {
	text-decoration: none;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
	text-decoration: none;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

button:focus {
	box-shadow: none !important;
}

p {
	margin: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	margin: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.row {
	margin: 0 -15px;
}

.container {
	padding: 0 15px;
}

.col,
[class*=col-] {
	padding: 0 15px;
}

.common_btn {
	font-size: 14px;
	text-align: center;
	color: #fff;
	display: inline-block;
	border-radius: 30px;
	background: #3b7cff;
	box-shadow: 0px 5px 20px rgba(59, 124, 255, 0.2);
	padding: 10px 22px;
	border: 1px solid #3b7cff;
	;
	line-height: 1;
}

.common_btn:hover {
	background-color: #fff;
	color: #3b7cff;
}

/* ******************** Logo ************************/


.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 1.2rem 0;
}

.logo p {
	font-weight: 700;
	font-size: 1.3rem;
	color: rgb(44, 169, 96);
}

.logo_img {
	width: 2.1rem;
	height: 2.1rem;
}

/******************** Nav Link ***********************/
.nav_link {
	color: white;
	font-size: medium;
	font-weight: 500;
}

.nav_link_active {
	color: var(--primary-color);
	font-size: medium;
	font-weight: 500;
}

.search_input {
	background: transparent;
	border: none;
	outline: none;
	color: white
}

/*********************  Default-CSS  End *********************/