@media (max-width: 1600px) {}

@media (max-width: 1530px) {}

@media (max-width: 1440px) {}

@media (max-width: 1360px) {}

@media (max-width: 1280px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {
  .menu_drawer_button {
    display: flex;
  }

  .bio {
    font-size: 0.7rem;
    font-weight: normal;
    margin: 0.5rem 0;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .album_details_image {
    width: 100%;
    height: 140px;
    border-radius: 0.3rem;
    object-fit: fill;
  }

  .seperator {
    background-color: var(--quaternary-color);
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
  }

  .track_card_img {
    width: 90px;
    height: 65px;
    object-fit: fill;
    border-radius: 0.3rem;
  }

  /* .play_button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    background-color: var(--primary-color2);
    padding: 0.8rem;
    border: none;
    border-radius: 50%;
    margin-top: 11rem;
    margin-right: 1rem;
    cursor: pointer;
  } */
}

.details_play_button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  background-color: var(--primary-color2);
  padding: 0.8rem;
  border: none;
  border-radius: 50%;
  margin-top: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media (max-width: 375px) {}